# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Large files
*.npy
nohup*
*.nfs*
plots/
*.pdf
dagman_*
dagman_FR*
submitter/logs/
mnrun_*
*.png
mnrun/
ipynbs/frs
ipynbs/chains
test/bayesian
*.tar.gz
*.tar
*.gz
